*{

  padding: 0px;
  margin: 0px;
  border: 0px;

}


/*body*/

body{

 background: #000;
 font-family: 'Dosis', serif;

}
h1{
   font-size: 30px;
}

/*logo*/

header{

  
  background: #fff;
  font-family: 'Dosis', serif;
  margin-top: 1em;

}

header h1 a{

  
  font-family: 'Dosis', serif;
  font-size: 40px;
  text-decoration: none;
  background: #f1f;
 

}
header h1{

width: 30%;


}





/*alinear logo y menu de navegacion*/

header h1,#top-nav{

  
  vertical-align: middle;
  display: inline-block;
  margin-left: 2em;
  

}


#top-nav{

background: #525;
text-align: center;

}

nav,section#social{

background: #555;
vertical-align: middle;
display: inline-block;
}


/*tama˜os de la section contenido*/



section#contenido{


background: #f22;
margin-top: 0em;
height: 120em;
    text-align: center;
}
#col_1,#col_2{

  vertical-align: middle;
  display: inline-block;
  
}


#col_1{

width: 20%;
background: #fff;
margin-top: 1em;
height: 33em;

}


#col_2{

width: 75%;
background: #000;
margin-top: 1em;
height: 33em;


}

#col_1_cp,#col_2_cp{

  vertical-align: middle;
  display: inline-block;
  
}


#col_1_cp{

width: 40%;
background: #aaa;
margin-top: 1em;
height: 33em;

}
#col_2_cp{

width: 50%;
background: #aac;
margin-top: 1em;
height: 33em;

}

.col_2_article_1{


  vertical-align: middle;
  display: inline-block;
width: 40%;
height: 400px;
background: #016;
margin: .3em;
border-color: #040;


}

.col_2_article_1 a{


background: #fff;
height: 300px;
margin: 5em;

}

#edit{
background: #f0f;

margin: 5em;
height: 40em;
text-align: center;
}



#edit_img{

background: #40f;
margin: 2em;
}


.edit_t{
vertical-align: middle;
  display: inline-block;
  width: 10%;
background: #555;

}




footer{


    width: 100%;

  background-size: 100%;
  height: 10em;
  text-align: center;
  margin-top: -2em;
  padding-left: 1em;

 

}






/*menu de navegacion*/

#top-menu{


  margin: auto;
  width:600px;
text-decoration: none;


}

ul,ol{

  list-style: none;
  
  

}

.nav li a{

  

  border-radius: 0.1em;
  height: 1.5em;
  background-color: #100;
  color: #fff;
  text-decoration: none;
  padding:15px 15px;
  display:block;
   -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;



}

.nav li a:hover{

    border-radius: 0em;
    background-color: #a79999;
     -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}

.nav > li{

  float: left;



}

.nav li ul{

  display: none;
  position: absolute;
  min-width: 165px;
  text-align: middle;


}

.nav li:hover>ul{

  display: block;


}

.nav li ul li{


  position: relative;
}


div#top-menu ul li a.selected {



  vertical-align: middle;
  color: #fff;
  background: #b10404;
}





/*sombras de imagenes*/

.fade{
  
  opacity: 1;
  filter:alpha(opacity=10);

  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition:all 0.5s ease-in;
  

}

.fade:hover{
  
  opacity: .7;
  filter:alpha(opacity=7);
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition:all 0.5s ease-out;
  

}
/*fomulario*/

.form,.btn{
 
  width: 12em;
  height: 4em;
  background-color: #100;
  color: #fff;
    font-size: 15px;
  font-family: 'Dosis', serif;
  text-align: center;
  margin: .2em;
}


.btn{
background-color: #ddd;
color: #000;
}
.btn:hover{
  
  opacity: .7;
  filter:alpha(opacity=7);
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition:all 0.5s ease-out;
  

}

p.columnas {
  -webkit-column-count: 3;
  -moz-column-count: 3;
   column-count: 3;
   width:500px;
}



.form, .form-img{

    vertical-align: middle;
  display: inline-block;
  


}

